@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Hammersmith One', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: black;
}

.me {
  width: 100%;
}

h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
}

p {
  margin: 1em;
  text-align: center;
  color: white;
}

img {
  width: 42%;
}

li {
  display: inline;
}

a:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 35em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  ul {
    padding-right: 3em;
  }

  div {
    text-align: center;
  }

  img {
    width: 20%;
  }

}

@media only screen and (min-width: 55.625em) {

  html {
    font-size: 130%;
  }

  h1 {
    text-align: left;
    padding-left: 1.2em;
  }

  .main {
    float: left;
  }

  .contact-title {
    padding-right: 3em;
    float: right;
    clear: both;
  }

  .contact {
    float: right;
    clear: both;
    padding: 0;
  }

  .footer {
    float: right;
    width: 50%;
  }

  .logos {
    padding-right: 0;
    float: right;
    clear: both;
    margin: 0;
    text-decoration: none;
  }

  p {
    vertical-align: middle;
    max-width: 20em;
    margin-right: 0;
  }

  img {
    display: inline;
    float: right;
    clear: both;
    width: 10%;
  }

  li:hover {
    opacity: 0.5;
  }

}

@media print {

  .footer {
    display: none;
  }

}
