@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Hammersmith One', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: black;
}

.me {
  width: 100%;
}

h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
}

p {
  margin: 1em;
  text-align: center;
  color: white;
}

img {
  width: 20%;
}

li {
  display: block;
}

.logo {
  width: 100%;
  padding: 1em;
  float: left;
}

.logo img {
  display: block;
  width: woo%;
}

/*footer, img {
  /*display: inline-block;
  margin: 0;
  text-align: center;
  width: 50%;
}*/

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 35em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 50em) {

  html {
    font-size: 130%;
  }

}
